@charset "utf-8";
/* CSS Document */

.container {
/*    height: 3000px;*/
    background-color: #fff7f0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    /* position: relative;
    z-index: 100; */
}
.background {
    background-color: white;
}
.background1
{
	background-color: white;
	height: 700px;
}

.banner {
    /* border: 1px solid; */
    height: 250px;
    margin: 0 10%;
    overflow: auto;
	position: relative;
    /* position: relative; */
/*	border-right: 1px solid;*/
}

.menu {
    box-sizing: border-box;
    /* border: 1px solid; */
    width: 40%;
    height: 100%;
}
.menuLeft {
    float: left;
	margin-left: -3%;
}
.logo {
    box-sizing: border-box;
    /* border: 1px solid; */
    width: 20%;
    float: left;
}
.menuRight {
    float: right;
	font-family: font_tittle;
	
	
}
.menuRight ul {
    float: right;
	font-family: font_tittle;
	margin-left: -19px;
	
}
.menuRight ul li a
{
	font-size: 16px;
}

.menu ul {
    height: 90%;
    /* border: 1px solid; */
    list-style: none;
    /* margin-top: 23px; */
    overflow: auto;
	
}
.menuLeft ul li {
    float: left;
    margin-right: 20px;
    position: relative;
}
.menuLeft ul li a {
    text-decoration: none;
    color: #5e5e5e;
    font-size: 16px;
	line-height: 24px;
    font-weight: 500;
	font-family: font_tittle;
}
.menuLeft ul li:hover a
{
	color:#070707;
}

.menuLeft ul li:hover {
    border-bottom: 1px solid #101010;
	
}
.menuLeft ul li:hover ul {
    color: #101010;
    height: 200px;
    visibility: visible !important;
}
/*velogo*/
.menuLeft ul li ul {
    height: 200px;
    position: absolute;
    z-index: 100;
    visibility: hidden;
}
.menuLeft ul li ul li {
    width: 150px;
    border-bottom-color: #59370d;
    left: -40px;
    /* z-index: 10; */
    margin-top: 10px;
    /*	line-height: auto;*/
}

.logo img {
    width: 50%;
    margin-top: 2px;
    margin-left: 70px;
}
/*ve menu2*/
.menuRight ul {
    padding-left: 30%;
    list-style: none;
    /*	border: 1px solid #000000;*/
    /* margin-left: 70px; */
    /*	border: 1px solid;*/
}
.menuRight ul li {
    float: left;
    margin-left: 20px;
    /* margin-top: 10px; */
}
.menuRight ul li a {
    text-decoration: none;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 500;
}
.menuRight ul li:hover {
    border-bottom: 1px solid #101010;
}
.menuRight ul li:hover a {
    color: #101010;
}
.containerbody {
    width: 80%;
    border: 1px solid #000000;
    margin: 0 10%;
}
.header {
    /* border: 5px solid; */
    height: 500px;
    width: 80%;
    margin: 0 10%;
    box-sizing: border-box;
    padding-right: 50px;
    margin-top: -12%;
}
.hinh {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.hinh img {
    width: 90%;
    position: absolute;
    left: -15%;
}
.header p {
    position: absolute;
    font-size: 80px;
    font-weight: 500;
    right: 10%;
    top: 3%;
    font-family: font_tittle;
    line-height: 70px;
    color: #151515;
}
.header hr {
    position: absolute;
    right: 10%;

    top: 260px;
    border: 0;
}

.header img {
    width: 120%;
}
/* .background {
    height: 700px;
    background-color: #fff7f0;
    margin-top: -100%;
    position: relative;

    z-index: -1;
} */
.content {
    margin: 0 10%;
    height: 400px;
    box-sizing: border-box;
    margin-top: -20px;
    /*	color: #673D0F;*/
    position: relative;
    /*	font-family: font_body;*/
    font-size: 14px;
}
.content_a {
    width: 24%;
    height: 100%;
    /*	background-color: aquamarine;*/
    float: left;
    margin-right: 1%;
    padding: 20px 10px;
    box-sizing: border-box;
    line-height: 24px;
}
.content_a p {
    margin-top: 0px;
}
.content_b {
    width: 25%;
    height: 90%;
    float: left;
    border: 4px solid #101010;
    box-sizing: border-box;
    margin-top: 26px;

    /*	position: relative;*/
}
.content_b p {
    font-size: 50px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: -50px;
    font-family: font_tittle;
}

.readMore {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #101010;
    color: #fef5e9;
    /*	position: absolute;*/
    margin-left: 2%;
    /*	margin-top: -150px;*/
    position: absolute;
    left: 9%;
    bottom: -10%;
	font-size: 17px;
	
}
@font-face {
    font-family: font_tittle;
    src: url("../font/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: font_body;
    src: url("../font/unicode.display.UVNBaLe.TTF");
}
@font-face {
    font-family: font_cham;
    src: url("../font/PlayfairDisplay-Italic.ttf");
}

.jewelry {
    height: 400px;
    background-color: blueviolet;
}
.jewelry_a {
    width: 24%;
    background-color: coral;
    float: left;
    height: 100%;
    margin-right: 1%;
}
.j_a_hinh {
    height: 80%;
    background-image: url("../images/hinh1.jpg");
    background-size: cover;
}
.jewelry_b {
    width: 25%;
    height: 100%;
    float: left;
    background-color: coral;
}
/*day là spider*/
.spider {
    margin: 5% 10% 0% 10%;
	
    width: 80%;
    height: 900px;
/*     border: 2px solid;*/
	position: relative;

    /*	background-color: aquamarine;*/
}
.spider_left {
    width: 49%;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
/*    margin-top: -13%;*/
	position: absolute;
	top:-10%;
/*    border: 2px solid;*/
}
.spider_left_pic {
    height: 80%;
    background-image: url("../images/who-we-are_2e7996ab-08cf-4492-8c35-57aab50df1d0.jpg");
    background-size: cover;
}
.spider_left_pic p {
    color: aliceblue;
    font-size: 50px;
    font-family: font_tittle;
    margin-left: 2%;
}
.text {
    color: aliceblue;
    font-size: 14px;
    margin-left: 3%;
    margin-top: -40px;
}

.spider_left_pic hr {
    width: 200px;
    height: 1px;
    background-color: aliceblue;
    margin-left: 15px;
    margin-top: 20px;
}
.spider_left_text {
    height: 20%;
    background-color: #101010;
    padding-left: 2%;
    padding-right: 8%;
    padding-top:3%;
    box-sizing: border-box;
    color: aliceblue;
    line-height: 24px;
    font-size: 14px;
}

.button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
	font-size: 17px;
	
    padding-top: 5px;
    box-sizing: border-box;
}
.spider_right {
    width: 50%;
    height: 100%;
    /*	background-color:red;*/
    float: right;
    color: #1e1e1e;
    line-height: 24px;
    padding-top:0%;
    box-sizing: border-box;
	position: absolute;
	right: 0;
	top:5%
}
.spider_right_a {
    width: 49%;
    height: 70%;
    /*	background-color: aqua;*/
    float: left;
    border-top: 4px solid #1e1e1e;
}
.spider_right_a h5 {
    margin-left: 10px;
    margin-top: 50px;
	font-size: 18px;
	font-weight: 700;
	font-family: font_tittle;
}
.right_a_mid {
    margin: 0 10px;
    margin-top: -10px;
    font-size: 14px;
}

.spider_right_a p {
    margin: 0 10px;
    font-size: 14px;
}
.spider_right_b {
    width: 50%;
    height: 70%;
    /*	background-color:blue;*/
    float: right;
    border-top: 4px solid #1e1e1e;
}
.spider_right_b h5 {
    margin-left: 10px;
    margin-top: 50px;
	font-size: 18px;
	font-weight: 700;
	font-family: font_tittle;
}
.right_b_hinh {
    height: 150px;
    background-color: antiquewhite;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
}
.right_b_hinh img {
    position: absolute;
    height: 200%;
    top: -50%;
}
.spider_right_b p {
    margin: 10px;
    font-size: 14px;
}
.button1 {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 17px;
    margin-left: 10px;
    padding-top: 6px;
    box-sizing: border-box;
}
.button2 {
   width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 17px;
    margin-left: 10px;
	margin-top: 10px;
    padding-top: 6px;
    box-sizing: border-box;
}
.product
{
	height: 500px;
	margin: 0 10%;
/*	border: 1px solid;*/
	overflow: auto;
	margin-top: 13%;
}
.p_jewelry
{
	width: 32%;
	height: 100%;
/*	background-color: aqua;*/
	float: left;
	margin-right: 1.5%
	
		
}
.leftimage
{
	height: 80%;
	background-image: url("../../cuoi mon1/images/watches.jpg");
	background-size: cover;
}
.lefttext
{
	text-align: center;
}
.midimage
{
	height: 80%;
	background-image: url("../../cuoi mon1/images/bags.jpg");
	background-position:center;
	background-size: cover;
}
.rightimage
{
	height: 80%;
	background-image:url("../../cuoi mon1/images/rings.jpg");
	background-size: cover;
}
.p_watches
{
	width: 33%;
	height: 100%;
/*	background-color: red;*/
	float: right;
}
.title
{
	font-size: 18px;
	font-weight: 700;
	font-family: font_tittle;
	margin-top: 7%;
}
.bodytext
{
	font-size: 14px;
}
.lastcontent
{
	height: 700px;
/*	background-color: aqua;*/
	margin: 0 10%;
	position: relative;
	
	
}
.lc_text
{
	width: 50%;
/*	height: 90%;*/
/*	background-color: red;*/
	float: left;
	padding: 4.5% 4% 5% 1%;
	box-sizing: border-box;
	margin-top: 6.3%;
}
.lc_text p
{
	font-size: 14px;
	line-height: 24px;
}
.lc_text hr
{
	width: 90%;
	float: left;
	height: 3px;
	background-color: black;
	border: 0;
}
.lc_pic
{
	width: 50%;
	height: 80%;
	background-image: url("../../cuoi mon1/images/rebecca-hoops-30mm-m-2_720x.jpg");
	background-size: cover;
	
	position: absolute;
	right: 0;
	bottom: 0
	
}
.button4 {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-size: 17px;
    padding-top: 6px;
    box-sizing: border-box;
	margin-top: 15%;
}
.iconstar
{
	height: 35px;
	width: 180px;
	background-image: url("../../cuoi mon1/images/icon star.png");
	background-size: cover;
	position: absolute;
	left: 42%;
	top:6%;
/*
	margin-top: 28%;
	margin-left: 30%;
*/
}
.footer1
{
	height: 250px;
	background-color:white;
/*	border: 1px solid;*/
}
.background hr
{
	width: 70%;
	height: 0.5px;
	margin: 0 15% 0 15%;
	background-color:#181818;

}
.footer1 P
{
	font-family: font_tittle;
	font-size: 18px;
	text-align: center;
	margin-top: 37px;
	font-weight: 600;
}
.F_text_bot
{
	height: 70%;
	margin: 3% 15% 0 15%;
/*	border: 1px solid;*/
	overflow: auto;
}
.F_text_bot1
{
	width: 25%;
	height: 100%;
/*	background-color: aqua;*/
	float: left;
	padding: 0 1.5%;
	box-sizing: border-box;
	font-size: 14px;
	color: #161616;
	text-align: center;
	font-weight: 500;
	
}.F_text_bot1 p
{
	font-size: 11px;
	margin-top: 6%;
}
.footer2
{
	height: 60px;
	background-color:antiquewhite;
}
.footer3
{
	height: 200px;
	background-color:#181818;
	padding-left: 20%;
	box-sizing: border-box;
}
.F3a
{
	width: 25%;
	height: 100%;
/*	background-color: aqua;*/
	float: left;
	overflow: auto;
	margin-right: 10px;
	padding-top: 7%;
	box-sizing: border-box;
	text-align: center;
	color: white;
}
.F3a img
{
	width: 50%;
	height: 50%;
	object-fit: cover;
	margin-top: -5px;
	
}